{extend name='public/_base' /}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}


{block name='content'}


    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>
        首页 <span class="c-gray en">&gt;</span>
        商铺管理 <span class="c-gray en">&gt;</span>
        商铺列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
                {switch name="$Think.session.user_info.role"  }
                {case value="2"}
				<span class="l">
					<a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius">
						<i class="Hui-iconfont">&#xe6e2;</i>
						批量恢复
					</a>
					<a href="javascript:;" onclick="member_add('添加商铺','{:url("shop/ShopAdd")}','','510')" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i>
						添加商铺
                    </a>
				</span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
                {/case}
                {case value="1"}
                <a href="javascript:;" onclick="member_add('添加商铺','{:url("shop/ShopAdd")}','','510')" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i>
                添加商铺
                </a>
                {/case}
                {case value="0"}
                {/case}
                {/switch}
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <!--<th width="50">ID</th>-->
                        <!--<th width="50">storeID</th>-->
                        <th width="30">系统编号</th>
                        <th width="30">店仓名</th>
                        <th width="90">店仓类别</th>
                        <th width="50">是否允许零售</th>
                        <th width="100">城市</th>
                        <th width="100">店铺状态</th>
                        <th width="50">所属经销商</th>
                        <th width="100">二维码</th>
                        <th width="100">细节补充</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='shop' id='vo'}
                    <tr class="text-c">

                        <!--<td>{$vo.ID}</td>-->
                        <!--<td>{$vo.storeID}</td>-->
                        <td>{$vo.CODE}</td>
                        <td>{$vo.NAME}</td>
                        <td>{$vo.TYPE}</td>
                        <td>{$vo.ISRETAIL}</td>
                        <td>{$vo.CITY}</td>
                        <td class="td-status">
                            <!--根据当前SHOP表中status值来确定显示内容-->
                            {if condition="$vo.STATUS eq '1'"}
                            <span class="label label-success radius">待售</span>
                            {else /}
                            <span class="label radius">已售</span>
                            {/if}
                        </td>
                        <td>{$vo.CUSTOMER}</td>
                        <td>{$vo.QRCODE}</td>
                        <td >{$vo.SUPPLEMENT}</td>

                        <td class="td-manage">
                            {if condition="$vo.STATUS eq '1'"}
                            <a style="text-decoration:none" onClick="member_stop(this,'{$vo.ID}')" href="javascript:;" title="已售">
                                <i class="Hui-iconfont">&#xe631;</i>
                            </a>
                            {else /}
                            <a style="text-decoration:none" onClick="member_start(this,'{$vo.ID}')" href="javascript:;" title="待售">
                                <i class="Hui-iconfont">&#xe615;</i>
                            </a>
                            {/if}
                            <a title="编辑" href="javascript:;" onclick="member_edit('商铺编辑','{:url("shop/shopEdit",["id"=>$vo["ID"]])}','','510')" class="ml-5" style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="member_del(this,'{$vo.ID}')" class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
<!--显示分页按钮-->
{$page}
{/block}
<!--隐藏搜索框-->
{block name='search'}{/block}
{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认将未售卖状态变成已售吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:url('shop/setStatus')}",{id:id});

            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="未售"><i class="Hui-iconfont">&#xe6e1;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已售</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }

    /*用户-启用*/
    function member_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:url('shop/setStatus')}",{id:id});

            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">未售</span>');
            $(obj).remove();
            layer.msg('已启用!',{icon: 6,time:1000});
        });
    }

    /*用户-编辑*/
    function member_edit(title,url,w,h){
        $.get(url); //执行控制器中的编辑操作
        layer_show(title,url,w,h);
    }

    /*用户-删除*/
    function member_del(obj,id) {

        $.get("{:url('shop/deleteShop')}", {id: id});
        layer.confirm('确认要删除吗？', function (index) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    //批量恢复
    function unDelete() {
        layer.confirm('确认要恢复吗？', function () {
            $.get("{:url('shop/unDelete')}");

            layer.msg('已恢复!', {icon: 1, time: 1000}); //消息弹层1秒后消失
            window.location.reload(); //重新加载页面,显示所有数据
        });

    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
